<h1>Login:</h1>
<form>
    <p>Email Address: <input type="text" name="email" [(ngModel)]="loginUser.email" /></p>
    <p>Password: <input type="password" name="password" [(ngModel)]="loginUser.password" /></p>
    <button type="button" (click)="validateUser(loginUser)">Login</button>
</form>
<div class="mt-4">
    <form *ngIf="loginSuccess; else loggedOut">
        <h2>Login Success!</h2>
        <nav>
            <a routerLink="/list-user" routerLinkActive="active">List-User</a>
        </nav>
        <router-outlet></router-outlet>>
        <!--Routed views go here-->
    </form>
    <ng-template #loggedOut>
        <h3>Please friend, login.</h3>
    </ng-template>
</div>